INDICO_SECRET_KEY=xxxxxxxxxxxxxxxx
INDICO_BASE_URL=http://indico.example.com
INDICO_BASE_SECURE_URL=https://indico.example.com
INDICO_SMTP_SERVER=smtp.example.com
INDICO_SMTP_USER=indico@example.com
INDICO_SMTP_PASS=password
INDICO_SMTP_USE_TLS=no
INDICO_SUPPORT_EMAIL=where-to-report-errors@example.com
INDICO_PUBLIC_SUPPORT_EMAIL=public-support@example.com
INDICO_NO_REPLY_EMAIL=no-reply@example.com
INDICO_TIMEZONE=UTC
